<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <properties resource="mybatis.properties">
        <property name="username" value="root"/>
        <property name="password" value="zlx1234"/>
    </properties>

    <plugins>
        <plugin interceptor="com.example.all.demo.mybatis.mybatis.plugins.CreateObjInterceptor">
            <property name="property" value="value"/>
            <property name="key" value="val"/>
        </plugin>
    </plugins>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper resource="mapper/MybatisMapper.xml"/>
    </mappers>

</configuration>